 @use '../../styles/variables' as *;
@use  '../../styles/mixins' as * ;

.Profile-container-page{
   width: 414px;
   height: 869px;
   display: grid;
   .Profile-conatiner-page__inside{
    width: 414px;
    height: 90px;
    display: grid;
    .Profile-container-page__inside_header{
      width: 414px;
      height: 227px;
      display: grid;
      .black{
        width: 413px;
        height: 234px;
        display: grid;
        margin-top: 0px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      }
      .slide{
        width: 12px;
        height: 24px;
        border: transparent;
        background-color: transparent;
        display: grid;
        margin-top: -168px;
        margin-left: 23px;
        img{
          width: 11px;
          height: 24px;
        }
      }
    }
    .Profile-contianer-page__inside__followers{
      width: 388px;
      height: 34px;
      display: grid;
      @include flexCenter (row, center, right);      
      margin-top: 15px;
      margin-left: 1px;
     /*  column-gap: 10px; */
      .followers{
        width: 84px;
        height: 29px;
        display: grid;
        margin-left: 41px;
        justify-content: center;
        .h3{
          width: 48px;
          height: 19px;
          display: grid;
          color: $primary-text-color;
          font-family: $font-source;
          font-size: 50px;
          font-weight: 700;
          margin-top: 20px;
         /*  margin-left: 10px; */
        }
        h5{
          width: 61px;
          height: 14px;
          display: grid;
          align-items: center;
          color: $primary-text-color;
          font-family: $font-source;
          font-size: 10px;
          font-weight: 700;
          margin-left: -11px;
        }
      }
      .image-center{
        width: 135px;
        height: 76px;
        display: grid;
        justify-content: flex-end;
        margin-left: -37px;
        .image{
           border-radius: 50%;
           margin-top: -45px;
        }
        .circle{
          margin-top: -99px;
        }
      } 
      .likes{
        width: 79px;
        height: 29px;
        display: grid;
        margin-left: 41px;
        justify-content: center;
        font-family: $font-source;
        .h3{
          width: 48px;
          height: 19px;
          display: grid;
          color: $primary-text-color;
          font-family: $font-source;
          font-size: 50px;
          font-weight: 700;
          margin-top: 20px;
        }
        h5{
          width: 61px;
          height: 14px;
          display: grid;
          align-items: center;
          color: $primary-text-color;
          font-family: $font-source;
          font-size: 10px;
          font-weight: 700;
          margin-left: 10px;
        }
      } 
    }
    .Profile-contianer-page__inside__jennie-kim{
      width: 245px;
      height: 59px;
      display: grid;
      justify-content: center;
      margin-left: 86px;
      h4{
        width: 81px;
        height: 10px;
        color: $primary-text-color;
        font-family: $font-source;
        font-size: 14px;
        font-weight: 700;
        margin-left: 36px;
      }
      h5{
        width: 81px;
        height: 8px;
        color: $primary-text-color;
        font-family: $font-source;
        font-size: 9px;
        font-weight: 700;
        margin-left: 48px;
        /* align-items: center; */
        margin-top: 4px;
      }
      h6{
        width: 150px;
        height: 16px;
        color: $primary-text-color;
        font-family: $font-source;
        font-size: 10px;
        font-weight: 600;
        margin-left: 4px;
      }
    }
    .Profile-contianer-page__inside__follow-massages{
      width: 394;
      height: 38px;
      display: grid;
      @include flexCenter(row, center, center);
      column-gap: 10px;
      justify-items: center;
      margin-left: -13px;
      .follow{
        width: 190px;
        height: 35px;
        background-color: $color-1;
        border: transparent;
        border-radius: 10px;
        color: $color-5;
        font-family: $font-source;
        font-size: 18px;
      }
      .messages{
        width: 190px;
        height: 35px;
        background-color: $color-1;
        border: transparent;
        border-radius: 10px;
        color: $color-5;
        font-family: $font-source;
        font-size: 18px;
      }
    }
    .Profile-contianer-page__inside__Gallery{
      width: 413px;
      height: 474px;
      display: grid;
      background-color: $color-5;
      border-radius: 30px;
      margin-top: 17px;
      .Profile-contianer-page__inside__Gallery_header{
        width: 369px;
        height: 34px;
        display: grid;
        margin-top: 19px;
       margin-left: 20px;
        @include flexCenter(row, center, center);
        column-gap: 55px; 
        h5{
          width: 50px;
          height: 16px;
          color: $primary-text-color;
          font-family: $font-source;
          font-size: 16px;
          font-weight: 700;
          text-decoration: none;  
        
          cursor: pointer;
          &:hover{
            opacity: 0.5;
            text-decoration: underline;  
            text-decoration-color: pink;
            text-underline-offset: 3px; 
          }
        }
      }
      .Profile-contianer-page__inside__Gsllery_card{
        width: 250px;
        height: 464px;
        display: grid;
        position: relative;
        margin-left: -10px;
        margin-top: 40px;
      }
    }
   }
}
