 @use '../../styles/variables' as *;
@use  '../../styles/mixins' as * ;

.Profile-container-page{
   width: 414px;
   height: 869px;
   display: grid;
   .Profile-conatiner-page__inside{
    width: 414px;
    height: 90px;
    display: grid;
    .Profile-container-page__inside_header{
        width: 414px;
        height: 227px;
        display: grid;
        .black{
          width: 414px;
          height: 234px;
          display: grid;
          margin-top: 0px;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
        }
        .slide{
          width: 12px;
          height: 24px;
          border: transparent;
          background-color: transparent;
          display: grid;
          margin-top: -197px;
          margin-left: 23px;
          img{
          width: 11px;
          height: 24px;
          &:hover{
            opacity: 0.5;
            cursor: pointer;
          }
          &:active{
            opacity: 1;
          }
      }
    }
   }
   .Profile-contianer-page__inside__followers{
    width: 89%;
    height: 34px;
    display: grid;
    @include flexCenter (row, center, right);      
    margin-top: 15px;
    margin-left: 1px;
   /*  column-gap: 10px; */
    .followers{
      width: 84px;
      height: 29px;
      display: grid;
      margin-left: 41px;
      justify-content: center;
      text-align: center;
      .h3{
        width: 48px;
        height: 19px;
        display: grid;
        color: $primary-text-color;
        font-family: $font-source;
        font-size: 50px;
        font-weight: 700;
        justify-content: space-around;
       /*  margin-left: 10px; */
      }
      .h5{
        width: 61px;
        height: 14px;
        display: grid;
        align-items: center;
        color: $primary-text-color;
        font-family: $font-source;
        font-size: 10px;
        font-weight: 700;
        margin-left: -11px;
      }
    }
    .image-center{
      width: 135px;
      height: 76px;
      display: grid;
      justify-content: flex-end;
      justify-content: space-around;
      .image{
         width: 76px;
         height: 76px;
         border-radius: 50%;
         margin-top: -45px;
         object-fit: cover;
      }
      .circle{
        width: 76px;
        height: 76px;
        margin-top: -98px;
        object-fit: cover;
      }
    } 
    .likes{
      width: 79px;
      height: 29px;
      display: grid;
      /* margin-left: 41px; */
      justify-content: center;
      align-content: space-evenly;
      font-family: $font-source;
      text-align: center;
      .h3{
        width: 48px;
        height: 19px;
        display: grid;
        color: $primary-text-color;
        font-family: $font-source;
        font-size: 50px;
        font-weight: 700;
        margin-top: 20px;
      }
      .h5{
        width: 61px;
        height: 14px;
        display: grid;
        align-items: center;
        color: $primary-text-color;
        font-family: $font-source;
        font-size: 10px;
        font-weight: 700;
        margin-left: 10px;
      }
    } 
  }
  .Profile-contianer-page__inside__jennie-kim{
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 7px;
   h4{
      width: 100%;
      height: 10px;
      color: $primary-text-color;
      font-family: $font-source;
      font-size: 16px;
      font-weight: 700;
      display: grid;
      justify-content: center;
     
    }
     h5{
      width: 100%;
      height: 8px;
      color: $primary-text-color;
      font-family: $font-source;
      font-size: 12px;
      font-weight: 400;
      display: grid;
      justify-content: center;
    }
    h6{
      width: 100%;
      height: 16px;
      color: $primary-text-color;
      font-family: $font-source;
      font-size: 12px;
      font-weight: 400;
      display: grid;
      justify-content: center;
    } 
  }
  .Profile-contianer-page__inside__follow-massages {
    width: 394px;
    height: 38px;
    display: grid;
    @include flexCenter(row, center, center );
    gap: 9px;
    justify-items: center;
    margin-left: 9px;
    .follow, .unfollow, .messages {
      width: 190px;
      height: 35px;
      border: transparent;
      border-radius: 8px;
      font-family: $font-source;
      font-size: 18px;
      cursor: pointer;
      &:active {
        border: 1px solid $color-2; 
      }
    }
    .follow {
      background-color: $color-1; /* Cambia el color de fondo según tus preferencias */
      color: $color-5; /* Cambia el color del texto según tus preferencias */
      &:active {
        background-color: $color-5; /* Cambia el color de fondo al hacer clic según tus preferencias */
        color: $color-2; /* Cambia el color del texto al hacer clic según tus preferencias */
      }
    }
    .unfollow {
      display: block , none; 
      background-color: $color-5; 
      color: $color-1;
      &:active {
        background-color: $color-5; 
        color: $color-1; 
      }
    }
    .messages {
      background-color: $color-1; 
      color: $color-5; 
      &:active {
        background-color: $color-5;
        color: $color-2; 
      }
    }
  }
  /* .Profile-contianer-page__inside__Gallery{
    width: 413px;
    height: 474px;
    display: grid;
    background-color: $color-5;
    border-radius: 30px;
    margin-top: 17px;
    .Profile-contianer-page__inside__Gallery_header{
      width: 369px;
      height: 34px;
      display: grid;
      margin-top: 19px;
     margin-left: 20px;
      @include flexCenter(row, center, center);
      column-gap: 55px; 
      h5{
        width: 50px;
        height: 16px;
        color: $primary-text-color;
        font-family: $font-source;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;  
        cursor: pointer;
        &:hover{
          opacity: 0.5;
          text-decoration: underline;  
          text-decoration-color: pink;
          text-underline-offset: 3px; 
        }
      }
    }
    .Profile-contianer-page__inside__Gsllery_card{
      width: 250px;
      height: 381px;
      display: grid;
      position: relative;
      margin-left: -10px;
      margin-top: 40px;
    }
  } */
  }
}