@use '../../styles/variables' as *;

.searchcontent-container{
  padding: 4px;
  //margin: 10px;
  //border: 4px solid fuchsia;
  width: 100%;
  height: 800px;
 
  .buscar{
    margin: 10px;
    padding: 12px;
    background-color:antiquewhite;
    width: 380px;
    height: 30px;
    border-radius: 9px;
    display: flex;
    gap: 15px;
    font-size: 13px;
    align-items: center;
    color: gray;
    img{
      width: 22px;
      height: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    input{
      border: none;
      width: 380px;
      background-color: antiquewhite;
      &:focus{
        outline: none;
        border: none;
      }
    }
  }
  &__gallery{
  display: grid;
  grid-template-columns: repeat(3, 135px);
  grid-auto-rows: 150px;
  grid-gap: 1px;

  }
  &__img1{
    grid-row-start: 3;
    grid-row-end: 2;
   // border: 1px solid greenyellow;
    img{
      width: 100%;
      height: 100%; 
      object-fit: cover;
    }
   }
   &__img2{
   // border: 1px solid yellowgreen;
    img{
      width: 100%;
      height: 100%; 
      object-fit: cover;  
    }
   } 
   &__img3{
   // border: 1px solid yellowgreen;
    img{
      width: 100%;
      height: 100%; 
      object-fit: cover;  
    }
   }
   &__img4{
    //border: 1px solid yellowgreen;
    img{
      width: 100%;
      height: 100%; 
      object-fit: cover;  
    }
   }
   &__img5{
    grid-row-start: 1;
    grid-row-end: 3;
    //border: 1px solid yellowgreen;
    img{
      width: 100%;
      height: 100%; 
      object-fit: cover;  
    }
   }
   &__img6{
    grid-row-start: 4;
    grid-row-end: 2;
    //border: 1px solid yellowgreen;
    img{
      width: 100%;
      height: 100%; 
      object-fit: cover;  
    }
   }
   &__img7{
    //grid-row-start: 4;
    //grid-row-end: 2;
    //border: 1px solid yellowgreen;
    img{
      width: 100%;
      height: 100%; 
      object-fit: cover;  
    }
   }

   &__img8{
    //grid-row-start: 4;
    //grid-row-end: 2;
    //border: 1px solid yellowgreen;
    img{
      width: 100%;
      height: 100%; 
      object-fit: cover;  
    }
   }
   
   &__img9{
    //grid-row-start: 4;
    //grid-row-end: 2;
    //border: 1px solid yellowgreen;
    img{
      width: 100%;
      height: 100%; 
      object-fit: cover;  
    }
   }
   
   &__img10{
    grid-row-start: 0;
    grid-row-end: 1;
    //border: 1px solid yellowgreen;
    img{
      width: 100%;
      height: 100%; 
      object-fit: cover;  
    }
   }
   &__img11{
    //grid-row-start: 4;
    //grid-row-end: 2;
    //border: 1px solid yellowgreen;
    img{
      width: 100%;
      height: 100%; 
      object-fit: cover;  
    }
   }
   &__img12{
    //grid-row-start: 4;
    //grid-row-end: 2;
    //border: 1px solid yellowgreen;
    img{
      width: 100%;
      height: 100%; 
      object-fit: cover;  
    }
   }
   &__img13{
    //grid-row-start: 4;
    //grid-row-end: 2;
    //border: 1px solid yellowgreen;
    img{
      width: 100%;
      height: 100%; 
      object-fit: cover;  
    }
   }



   
  
   
   
   
}