@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* Colors */
$color-1: #FF7674;
$color-2: #FF74B7;
$color-3: #FF74FC;
$color-4: #FFBC74;
$color-5: #F8F8F8;

$primary-text-color: #1A1A1A;
$secondary-text-color: #2F2F2F;


/* Fonts */
$font-source: 'Poppins', sans-serif;
$regular-weight: 400;
$medium-weight: 500;
$bold-weight: 700;


/* Screen sizes */
$mobile-width: 414px; 
$mobile-height: 869px; 
$tablet-width: 1280px;
$tablet-height: 800px;
$desktop-width: 1920px;
$desktop-height: 1080px;