@use '../../styles/variables' as *;
@use  '../../styles/mixins' as * ;

.Card-container {
    width: 134%;
    height: 420px;
    display: flex;
    flex-wrap: nowrap; 
    justify-content: space-between; 
    margin-left: 33px;
    margin-top: -43px;
  /*   gap:20px; */
    overflow-y: hidden;
    object-fit: cover; 
}
   






