@use '../../styles/variables' as *;
@use  '../../styles/mixins' as * ;

.Card-container {
    width: 134%;
    height: 410px;
    display: flex;
    flex-wrap: nowrap; 
    justify-content: space-between; 
    margin-left: 33px;
    margin-top: -43px;
  /*   gap:20px; */
    overflow-y: hidden;
    object-fit: cover; 
    .gallery-container-1 {
        flex: 0 0 49%; /* Ajustado para acomodar ambas columnas más el gap */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .gallery-container-2 {
        flex: 0 0 38%; /* Ajustado para acomodar ambas columnas más el gap */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
        img {
            width: 100%; 
            margin-top: 8px;
            vertical-align: middle;
            border-radius: 10px;
            object-fit: cover;
        }
 }





