@use '../../styles/variables' as *;
@use  '../../styles/mixins' as * ;

.Card-container{
    width: 409px;
    height: 410px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
    margin-left: 5px;
    margin-top: -35px;
    overflow-y: hidden;
    .gallery-container-1, .gallery-container-2{
        width: 230px;
        height: 150px;
        flex: 25%;
        max-width: 54%;
        padding: 0 4px;
        justify-items: center;
        margin-left: 20px;
        
        img{
            margin-top: 8px;
            vertical-align: middle;
            width: 100%; 
            border-radius: 10px;
           
        }
    }
}